<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <title>Go-Vue-RS API | Dhimas Prajaya</title>
</head>

<body>

<div class="jumbotron">
    <h1 class="display-4">Go-Vue-RS REST API</h1>
    <p class="lead">Base URL : https://go-vue-rs.herokuapp.com/</p>
    <hr class="my-4">
    <p>Author : Dhimas Prajaya</p>
</div>
<div class="container">
    <div class="list-group">
        <h4>Endpoint : </h4>
        <br>
        <a href="https://go-vue-rs.herokuapp.com/api/user" target="_blank"
           class="list-group-item list-group-item-action">api/user</a>
        <a href="https://go-vue-rs.herokuapp.com/api/hospital" target="_blank"
           class="list-group-item list-group-item-action">api/hospital</a>
        <a href="https://go-vue-rs.herokuapp.com/api/doctor" target="_blank"
           class="list-group-item list-group-item-action">api/doctor</a>
        <a href="https://go-vue-rs.herokuapp.com/api/patient" target="_blank"
           class="list-group-item list-group-item-action">api/patient</a>
    </div>
</div>
<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
        integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script>
</body>

</html>